#dialog_window
{
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;

    width: 500px;
    border: none;
}

#dialog_window_content_container
{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

#dialog_window::backdrop
{
    background: rgba(0,0,0,.5);
}

#dialog_window_header
{
    height: 30px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1px;
}

#close_dialog_window
{
    margin-right: 6px;
    margin-bottom: 3px;
    color: #d6d6d6;
    font-size: large;
    cursor: pointer;
}

#close_dialog_window:hover
{
    color: white;
}

#dialog_window.warning #close_dialog_window
{
    color: #777777;
}

#dialog_window.warning #close_dialog_window:hover
{
    color: black;
}

#dialog_window.error #dialog_window_header
{
    background-color: crimson;
}

#dialog_window.warning #dialog_window_header
{
    background-color: #f9fa79;
}

#dialog_window.message #dialog_window_header
{
    background-color: rgb(57, 122, 62);
}

