body {
    background-image: url("../images/login-background2.jpg");
    display: flex;
    min-height: 99vh;
    flex-direction: column;
    margin: 0.1em;
}

.menu {
    display: flex;

    margin: .1em;
    padding: .3em;
}


.upper_menu
{
    background: rgba(25, 49, 112, .7);
    z-index: 2;
    height: 40px;
    transition: all .3s;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px 5px 0px 0px;
}

.bottom_menu
{

    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-end;
    transition: all .3s;
    height: 30px;
    border-radius: 0px 0px 5px 5px;
}

#main {
    display: flex;
    flex: 1;
    background: rgba(0, 0, 0, 0.3);
    margin: .1em;
    padding: .3em;
    align-items: center;
    justify-content: center;
}

.main_container {
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    background: rgba(200, 200, 200, 0.55);
}


.invisible
{
    visibility: hidden;
}

.undisplayable
{
    display: none;
}

.label
{
    background-color: rgba(250, 250, 250, .3);
    width: 220px;
    display: inline-block;
    padding-left: 5px;
}

label input
{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
}

label span
{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
}


.form_name
{
    background-color: rgba(255,255,255,.6);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 15px;
    margin-bottom: 18px;
    border: 1px solid rgba(255,255,255,.5);
}

.noselect
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

#outer_container
{
    border: solid 0.25px rgba(255,255,255,.55);
    background: rgba(200, 200, 200, 0.55);
    padding: 10px;
    display: flex;
}

.flex
{
    display: flex;
}

.tab
{
    height: 70px;
    width: 150px;
    border: solid 0.25px rgba(255,255,255,.55);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.active_tab
{
    background-color: rgba(0, 100, 0, .65);
    color: whitesmoke;
}

.inactive_tab
{
    background-color: rgba(64, 63, 63, 0.6);
    cursor: not-allowed;
}

.current_tab
{
    color: rgb(241, 174, 82);
    font-size: 103%;
    text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}

#tab_window
{
    height: 629px;
    width: 949px;
    background-color: rgba(0, 100, 0, .65);
    padding: 10px;
}

#tabs_container
{
    margin-right: 2.5px;
}

.area_inner_header
{
    width: calc(100% - 10px);
    background-color: whitesmoke;
    padding-left: 10px;
}

.whitebordered_area
{
    width: 220px;
    border: solid .5px rgba(255,255,255,.5);
    background-color: rgba(255,255,255,0.3);
}

.indiv
{
    padding: 5px;
}

.whiteboard
{
    background-color: white;
}

.whiteboard label
{
    white-space: nowrap;
}

.whiteboard
{
    margin-top: 10px;
}

.whiten_background_label
{
    background-color: rgba(255,255,255,.3);
    padding-left: 5px;
}

.page_number_area
{
    width: 135px;
    border: solid .5px rgba(255,255,255,.5);
    margin-bottom: 6px;
}
.page_number, .search_field
{
    text-align: center;
}

.search_button
{
    margin-top: 5px;
}

.searchbox
{
    width: 450px;
    margin-right: 8px;
}

.search_controls
{
    width: 100%;
    display: flex;
    height: 168px;
    justify-content: space-between;
}

.tracks_list
{
    width: 100%;
    height: 627px;
    border: solid .5px rgba(255,255,255,.5);
    background-color: rgba(255,255,255,.3);
}

.search_results
{
    margin-top: 10px;
    width: 449px;
    height: 450px;
    border: solid .5px rgba(255,255,255,.5);
    background-color: rgba(255,255,255,.3);
}

.centered
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 100%;
}

.step_top_10px
{
    margin-top: -10px;
}

.maxheight
{
    height: 100%;
}

.cleanse_search_field_button
{
    margin-left: 5px;
}

input
{
    max-width: 100%;
    border: solid .5px rgba(255,255,255,.5);
}

.navigation_buttons
{
    width: 135px;
}

.navigate_button
{
    width: 45px;
}

.search_results_reload_button
{
    margin-top: 6px;
    width: 135px;
}

.new_instance_area
{
    width: 490px;
    height: 168px;
}

.new_instance_params, .edit_instance_params
{
    width: 490px;
}

.instance_data_field
{
    width: 180px;
    height: 20px;
    border: solid .5px whitesmoke;
    text-align: center;
    text-align-last: center;
}

.std_cell
{
    width: 100px;
    background-color: darkseagreen;
    padding-left: 5px;
    height: 19px;
    border: solid .5px whitesmoke;
}

.questionmark
{
    height: 20px;
    width: 20px;
    background-color: yellow;
    align-self: center;
    text-align: center;
    transition: all 0.2s;
    font-weight: bold;
    cursor: help;
}

.questionmark:hover
{
    background-color: white;
    color: black;
}

.exclamationmark
{
    height: 20px;
    width: 20px;
    background-color: crimson;
    color: white;
    align-self: center;
    text-align: center;
    transition: all 0.2s;
    font-weight: bold;
    cursor: help;
    animation: blinker 1.5s ease-in-out infinite;
}

.exclamationmark:hover
{
    background-color: yellow;
    color: crimson;
    background-color: white;
}

.new_instance_inner
{
    display: flex;
    justify-content: space-between;
    height: calc(100% - 28px);
}

.edit_instance_inner
{
    display: flex;
    justify-content: space-between;
}

.keep_right
{
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.button_100px
{
    width: 100px;
}

.instance_property_block
{
    display: flex;
    margin-bottom: 5px;
}

.new_instance_buttons, .edit_instance_buttons
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.new_instance_buttons .button_row:not(:first-child), .edit_instance_buttons .button_row:not(:first-child)
{
    margin-top: 7px;
}

#edit_track_area .edit_instance_buttons
{
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.new_instance_params > :first-child, .edit_instance_params > :first-child
{
    margin-top: 10px;
}


#change_track_number_buttons button
{
    width: 141px;
}

.track_number_block
{
    margin-top: 30px;
}


.edit_instance_area
{
    margin-top: 9px;
    width: 490px;
    height: 450px;
    border: solid .5px rgba(255,255,255,.5);
    background-color: rgba(255,255,255,.3);
}

.highlighted
{
    animation: highlighting 1s ease-in-out infinite;
}

.blinking
{
  animation: blinker 1.5s ease-in-out infinite;
}

@keyframes blinker
{
  50% { opacity: 0; }
}

@keyframes highlighting
{
  from
  {
    border: solid 1px white;
  }

  50%
  {
    border: solid 1px #FFD700;
  }

  100%
  {
    border: solid 1px white;
  }
}

.image_border
{
    height: 200px;
    width: 200px;
    background-color: rgba(255,255,255,.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_border img
{
    max-height: 100%;
    max-width: 100%;
}

.set_image_block
{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.set_track_file_block
{
    margin-top: 30px;
}

#upload_track_file
{
    width: 286px;
}

.upload_track_hints
{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: flex-end;
    width: 286px;
}

.step_away_left
{
    margin-left: 5px;
}

.step_away_right
{
    margin-right: 5px;
}

.id_cell, .name_cell, .button_cell, .year_cell, .track_number_cell
{
    height: 100%;

    border: solid .2px rgba(0,0,0,.1);
    display: flex;

    justify-content: center;
    align-items: center
}

.id_cell
{
    flex: 0 0 40px;
}

.year_cell
{
    flex: 0 0 80px;
}

.button_cell
{
    height: 100%;
    width: 50px;
    flex: 0 0 40px;
}

.name_cell
{
    width: 100%;
}

.track_number_cell
{
    flex: 0 0 40px;
}

.data_row
{
    display: flex;
    border: solid 1px rgba(0,0,0,.2);
    height: 30px;
    margin-bottom: 3px;
}

.inactive_row
{
    background-color: rgba(255,255,255,.7);
}

.active_row
{
    background-color: rgba(21,225,123,0.6);
}

.table_header
{
    background-color: rgba(255,225,255,0.4);
}

@keyframes blinker {
  50% { opacity: 0; }
}

.set_image_block button
{
    width: 150px;
}

.left_upper_label
{
    width: 100px;
    background-color: darkseagreen;
    padding-left: 5px;
    height: 19px;
    border: solid .5px whitesmoke;
    border-bottom: 0px;
}

.cleanse_search_field_button
{
    height: 24px;
    width: 24px;
    display: block;
    padding: 0;
    padding-left: 1px;
}

.inside_search_controls
{
    display: flex;
    justify-content: space-between;
}

.inside_search_controls div div:not(:first-child) .left_upper_label
{
    margin-top: 10px;
}

.flex_1
{
    flex: 1;
}

.use_button_block
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.genre_selection
{
    width: 280px;;
    border: solid .5px whitesmoke;
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
}

.tracks_list
{
    overflow-y: auto;
}

.hr
{
    margin-top: 30px;
    margin-bottom: 30px;
}

#goto_index_page
{
    font-size: 1.7em;
    color: white;
    margin-right: 10px;
}














