.hidden
{
    display: none !important;
}

.invisible
{
    display: hidden !important;
}

.transparent
{
    visibility: hidden !important; 
}

.flex_row_reversed
{
    flex-direction: row-reverse;
}

