body
{
    background-image: url("../img/wallpaper_1.jpg");
    display: flex;
    min-height: 99vh;
    flex-direction: column;
    margin: 0.0em;
}

.menu
{
    display: flex;

    margin: .1em;
    padding: .3em;
}


.upper_menu
{
    background: rgba(25, 49, 112, .7);
    z-index: 2;
    height: 40px;
    transition: all .3s;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px 5px 0px 0px;
}

.bottom_menu
{

    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-end;
    transition: all .3s;
    height: 30px;
    border-radius: 0px 0px 5px 5px;
}

#main
{
    display: flex;
    flex: 1;
    background: rgba(0, 0, 0, 0.3);
    margin: .1em;
    padding: .3em;
    align-items: center;
    justify-content: center;
}

.main_container {
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    background: rgba(200, 200, 200, 0.55);
}


.invisible
{
    visibility: hidden;
}

.undisplayable
{
    display: none !important;
}

.label
{
    background-color: rgba(250, 250, 250, .3);
    width: 220px;
    display: inline-block;
    padding-left: 5px;
}

label input
{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
}

label span
{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
}

.noselect
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

#outer_container
{
    border: solid 0.25px rgba(255,255,255,.55);
    background: rgba(200, 200, 200, 0.3);
    padding: 10px;
}

.flex
{
    display: flex;
}

.area_inner_header
{
    width: calc(100% - 10px);
    background-color: whitesmoke;
    padding-left: 10px;
}

.whitebordered_area
{
    width: 220px;
    border: solid .5px rgba(255,255,255,.5);
    background-color: rgba(255,255,255,0.3);
}

.indiv
{
    padding: 5px;
}

.whiteboard
{
    background-color: white;
    margin-top: 10px;
}

.whiteboard label
{
    white-space: nowrap;
}

.whiten_background_label
{
    background-color: rgba(255,255,255,.3);
    padding-left: 5px;
}

.centered
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 100%;
}

.step_top_10px
{
    margin-top: -10px;
}

.maxheight
{
    height: 100%;
}

.search_results_reload_button
{
    margin-top: 6px;
    width: 135px;
}



.questionmark:hover
{
    background-color: white;
    color: black;
}

.exclamationmark
{
    height: 20px;
    width: 20px;
    background-color: crimson;
    color: white;
    align-self: center;
    text-align: center;
    transition: all 0.2s;
    font-weight: bold;
    cursor: help;
    animation: blinker 1.5s ease-in-out infinite;
}

@keyframes blinker
{
    50% { opacity: 0; }
}

.exclamationmark:hover
{
    background-color: yellow;
    color: crimson;
    background-color: white;
}

.new_instance_inner
{
    display: flex;
    justify-content: space-between;
    height: calc(100% - 28px);
}

.edit_instance_inner
{
    display: flex;
    justify-content: space-between;
}

.keep_right
{
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.button_100px
{
    width: 100px;
}

.image_border
{
    height: 200px;
    width: 200px;
    background-color: rgba(255,255,255,.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_border img
{
    max-height: 100%;
    max-width: 100%;
}

.step_away_left
{
    margin-left: 5px;
}

.step_away_right
{
    margin-right: 5px;
}

.left_upper_label
{
    width: 100px;
    background-color: rgba(255,255,255,.5);
    padding-left: 5px;
    height: 19px;
    border: solid .5px whitesmoke;
    border-bottom: 0px;
}

.hr
{
    margin-top: 30px;
    margin-bottom: 30px;
}

#search_area
{
    height: 590px;
    width: 695px;
    background-color: rgba(38, 38, 101, .65);
    padding: 10px;
}

#search_area > div, #playlists_area > div
{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: solid .5px rgba(255,255,255,.5);
    background-color: rgba(255,255,255,.3);
    padding: 10px;
}

#navigation
{
    padding: 10px;
    background-color: rgba(255,255,255,.3);
    border: solid 0.5px rgba(255,255,255,.55);
    display:inline-block;
}

#navigation_label
{
    margin-top: -10px;
    margin-left: -10px;
    background-color: whitesmoke;
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
}

.navigation_button
{
    width: 32px;
    height: 22px;
}

#page_number
{
    width: 50px;
    height: 22px;
    text-align: center;
}

#number_blog_divider
{
    margin-left: 20px;
    margin-right: 20px;
    color: whitesmoke;
}

#header_filter_block
{
    margin-top: 10px;
    margin-bottom: 10px;
}

#header_filter_block input, #header_filter_block select
{
    height: 22px;
    border: none;
}

#search_results
{
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,.3);
    margin-top: 10px;
}

.data_row, .header_row
{
    display: flex;
    padding-top: 2px;
    padding-bottom: 2px;
}

.data_row:hover
{
    background-color: rgba(0, 0, 0, .7) !important;
}

.data_row > div, .header_row > div
{
    height: 50px;
    border: none;
    background-color: whitesmoke;
    margin-right: 5px;
    text-align: center;
}

.header_row > div
{
    background-color: rgb(38 64 120);
    color: white;
}

.data_row div:last-child, .header_row div:last-child
{
    margin-right: 2px;
}

.data_row img, .header_row img
{
    max-height: 100%;
    max-width: 100%;
}

.data_cell
{
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1px;
    overflow: hidden;
}

.data_cell:first-child
{
    margin-left: 2px;
}

.artist_data_row > .image_cell, .artist_data_row > .button_cell,
.album_data_row > .image_cell, .album_data_row > .button_cell,
.track_data_row > .image_cell, .track_data_row > .button_cell
{
    width: 50px;
}

.artist_data_row > .name_cell
{
    flex: 1;
}

.album_data_row > .name_cell
{
    flex: 1;
    word-wrap: break-word;
}

.track_data_row > .name_cell
{
    flex: 1;
    word-wrap: break-word;
    font-size: .9em;
}

.artist_data_row > .artist_albums_quantity, .album_data_row > .album_tracks_quantity
{
    width: 70px;
    display: flex;
    align-content: center;
    align-items: center;
}

.highlighted > div
{
    /*background-color: rgb(153, 255, 147);*/
    background-color: #ded8f7;
}

.flex1
{
    flex: 1;
    width: 100%;
}

.flexcolumn
{
    display: flex;
    flex-direction: column;
}

.header_row .name_cell > div:first-child
{
    margin-bottom: 2px;
    border-bottom: solid .5px rgba(0, 100, 0, .65);
}

.role_cell
{
    width: 200px;
    text-align-last: center;
}

#header_subblock input
{
    pointer-events: none;
    text-align: center;
    margin-right: 5px;
}

#header_subblock div
{
    margin-left: 10px;
}

#filter_subblock
{
    margin-top: 5px;
    display: flex;
}

#filter_subblock input
{
    text-align: center;
    margin-right: 5px;
    display: inline-block;
}

#filter_subblock select
{
    margin-right: 5px;
}

.button_cell
{
    height: 22px;
    border: none;
    margin-right: 2px !important;
    margin-left: 5px;
}

.button_cell:active
{
    background-color: whitesmoke;
}

.divider
{
    margin-top: 10px;
    margin-bottom: 10px;
}

#user_profile
{
    height: 630px;
    width: 300px;
    padding: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(120, 120, 120, .65);
}

#user_profile.active
{
    background-color: rgba(0, 100, 0, .65);
}


#avatar
{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.3);
    border: solid .5px rgba(255,255,255,.5);
}

#profile_data
{
    height: 396px;
    background-color: rgba(255,255,255,.3);
    border: solid .5px rgba(255,255,255,.5);
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#profile_data input, #profile_data select
{
    width: 100%;
    margin-bottom: 15px;
    height: 22px;
}

input, select
{
    max-width: 100%;
    border: solid .5px rgba(255,255,255,.5);
}

#profile_controls
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

#profile_controls button
{
    display: block;
    height: 22px;
    width: 110px;
}

#load_list_button
{
    width: auto;
}

.avatar_pic
{
    max-width: calc(100% - 1px);
    max-height: calc(100% - 1px);
}

.read_access
{
    width: 167px;
    background-color: rgba(255,255,255,.5);
    padding-left: 5px;
    height: 19px;
    border: solid .5px whitesmoke;
    border-bottom: 0px;
    text-align: center;
    color: #333333;
}

#profile_props input
{
    padding-left: 10px;
}

#profile_props select
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 10px;
}

.noselect
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form_name {
    background-color: rgba(255,255,255,.6);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid whitesmoke;
    width: 200px;
    align-self: center;
}

#outer_container
{
    display: flex;
    flex-direction: column;
}

#items_found
{
    display: flex;
}

.search_subblock
{
    border: solid .5px whitesmoke;
    width: 100%;
    height: 25px;
    text-align: center;
    padding-top: 5px;
    background-color: rgba(255,255,255,.5);
    transition-duration: .3s;
}

.search_subblock:hover
{
    background-color: rgba(255,255,255,8);
    transition-duration: .3s;
}

#search_string_block
{
    height: 25px;
    margin-bottom: 8px;
    display: flex;
}

#search_string
{
    height: 100%;
    width: 300px;
    text-align: center;
    border: solid .5px green;
}

#execute_search_button, #cleanse_search_button
{
    height: 100%;
    width: 26px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin-left: 10px;
    transition-duration: .3s;
    background-color: crimson;
    color: white;
    border: solid .5px whitesmoke;
}

#execute_search_button:hover, #cleanse_search_button:hover
{
    background-color: white;
    color: blue;
    transition-duration: .3s;
}

#execute_search_button:active, #cleanse_search_button:active
{
    background-color: green;
    color: white;
    transition-duration: .05s;
}

.active_search_subblock
{
    background-color: gold;
    border: solid .5px white;
}

.highlighted > div.button_cell
{
    background-color: whitesmoke;
    color: rgb(38 64 120);
}

.button_cell:hover
{
    box-shadow: inset 0 0 0 .5px green;
    font-weight: 800;
}

div.button_cell:active
{
    transition: all .05s;
    background: rgba(255, 50, 50, 1);
    color: #fff;
    font-weight: 900;
    font-size: 1.2em;
}

.fav_cell
{
    width: 50px;
    color: goldenrod;
    font-size: 1.5em;
}

.year_cell
{
    width: 50px;
}

div.empty_cell:hover
{
    box-shadow: none;
}

div.empty_cell:active
{
    background: whitesmoke;
    color: #fff;
    font-weight: 700;
    font-size: inherit;
}

#controls
{
    display: flex;
}

#search_pages_control_area
{
    margin-left: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-content: space-between;
}

#search_pages_control_area > button {
    border: none;
    background-color: whitesmoke;
    color: black;
    font-size: 1.05em;
    height: 23px;
}

#search_pages_control_area > button:active {
    background-color: rgba(255,0,0,.7);
    color: white;
}

#page_number
{
    margin-left: 5px;
    height: 23px;
    border: none;
}

#apply_page_number
{
    margin-right: 15px;
    margin-left: 5px;
    width: 50px;
}

#goto_start_button, #goto_back_button, #goto_forward_button, #goto_end_button
{
    width: 29px;
    height: 23px;
    margin-right: 5px;
}

#playlists_area
{
    width: 500px;
    height: 590px;
    background-color: rgba(38, 38, 101, .65);
    padding: 10px;
}
#playlist_name_filter, #availible_playlists
{
    width: 300px;
    height: 25px;
    text-align: center;
    border: solid .5px green;
}

#playlist_name_filter, #availible_playlists
{
    margin-bottom: 7px;
}

#select_playlist_area > .area_inner_header
{
    width: calc(100% + 10px);
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 10px;
    height: 30px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#tracks_list
{
    display: flex;
    flex-direction: column;
    flex: 1;
    border: solid .5px rgba(255,255,255,.5);
    background-color: rgba(255,255,255,.3);
}

#playlists_area > div
{
    display: flex;
    flex-direction: column;
}

#create_new_playlist, #reload_playlists_list, #clean_playlists_filter, #use_playlist
{
    border: .5px solid green;
    background-color: whitesmoke;
    height: 25px;
    width: 25px;
    text-align: center;
    margin-left: 5px;
}



#create_new_playlist:hover, #reload_playlists_list:hover, #clean_playlists_filter:hover, #use_playlist:hover
{
    border: .5px solid green;
    color: white;
    background-color: green;
}

#create_new_playlist:active, #reload_playlists_list:active, #clean_playlists_filter:active, #use_playlist:active
{
    border: .5px solid whitesmoke;
    background-color: #66ff00;
    color: black;
}

#select_playlist_area .questionmark
{
    height: 24px;
    width: 24px;
    border: solid .5px green;
    margin-left: 5px;
}

.questionmark
{
    background-color: yellow;
    align-content: center;
    justify-content: center;
    transition: all 0.2s;
    font-weight: bold;
    cursor: help;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#form_name_container
{
    display: flex;
    justify-content: center;
    flex: 1;
}

#header_container
{
    display: flex;
    position: relative;
}

#music_player
{
    width: 300px;
}

#timeScope
{
    margin-top: 2px;
    height: 25px;
    background-color: rgba(255,255,255,.5);
    justify-content: center;
    display: flex;
    font-size: .8em;
    margin-bottom: 10px;
}

#control_buttons
{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-around;
}

#player_time
{
    width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
}


#progress_container {
    cursor: pointer;
    width: 300px;
    background-color: rgb(232, 241, 255);
    margin-bottom: 2px;
}

#progress_bar {
    height: 15px;
    background-color: gold;
    width: 0;
}

#sound_container {
    flex: 1;
    background-color: white;
    display: flex;
    align-items: center;
}

#sound_bar {
    height: 15px;
    background-color: lightblue;
    width: 100%;
}

#sound_controls
{
    display: flex;
    width: 300px;
    align-content: center;
}

#control_buttons button
{
    border: none;
    height: 20px;
    width: 24px;
    background-color: whitesmoke;
}

#sound_controls button
{
    border: none;
    height: 15px;
    width: 15px;
    padding: 0px;
}

#clean_playlists_filter
{
    margin-right: 40px;
}

#current_playlist_name
{
    height: 35px;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

#playlist_control_block button
{
    height: 25px;
    width: 30px;
    padding: 0;
    margin-left: 5px;
    border: solid .5px black;
}

#playlist_control_block button:active
{
    border: solid .5px whitesmoke;
}

#playlist_control_block
{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cleanse_playlist
{
    background-color: crimson;
    color: white;
}

#cleanse_playlist:active
{
    background-color: white;
    color: crimson;
}
.audiotrack_row
{
    border-top: solid .5px whitesmoke;
    border-bottom: solid .5px whitesmoke;
    border: solid .5px whitesmoke;
    padding-right: 1px;
}

.audiotrack_row button
{
    display: flex;
    height: calc(100% - 1px);
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    border: .5px solid black;
}

.audiotrack_row .delete_track_button_cell, .audiotrack_row .playbutton_cell
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.audiotrack_row button:hover
{
    border: solid .5px green;
}

.audiotrack_row button:active
{
    border: solid .5px whitesmoke;
}

.audiotrack_row.highlighted
{
    background-color: rgb(153, 255, 147);
}


.audiotrack_row.inactive
{
    color: #777777;
    background-color: #cccccc;
}

.audiotrack_row .playlist_name_cell
{
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
}

.audiotrack_row.inactive .playlist_name_cell
{
    text-decoration: line-through crimson;
}

.audiotrack_row .playbutton_cell, .audiotrack_row .delete_track_button_cell
{
    height: 100%;
    width: 25px;
}

.audiotrack_row
{
    display: flex;
    width: 100%;
    height: 25px;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    background-color: #dbf7d8;
}

#track_items
{
    padding-left: 4px;
    padding-right: 7px;
    padding-top: 3px;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    height: 430px;
}

#used_playlist_name
{
    display: flex;
    align-self: center;
    margin-left: 7px;
}

#dialog_window
{
    z-index: 999;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;

    width: 500px;
    border: none;
}

#dialog_window_content_container
{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

#dialog_window::backdrop
{
    background: rgba(0,0,0,.5);
}

#dialog_window_header
{
    height: 30px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1px;
}

#close_dialog_window
{
    margin-right: 6px;
    margin-bottom: 3px;
    color: #d6d6d6;
    font-size: large;
    cursor: pointer;
}

#close_dialog_window:hover
{
    color: white;
}

#dialog_window.warning #close_dialog_window
{
    color: #777777;
}

#dialog_window.warning #close_dialog_window:hover
{
    color: black;
}

#dialog_window.error #dialog_window_header
{
    background-color: crimson;
}

#dialog_window.warning #dialog_window_header
{
    background-color: #f9fa79;
}

#dialog_window.message #dialog_window_header
{
    background-color: rgb(57, 122, 62);
}

#goto_index_page
{
    font-size: 1.7em;
    color: white;
    margin-right: 10px;
}

#stop_b
{
    font-size: xx-small;
}

#heading_menu
{
    color: white;
    font-weight: 500;
    letter-spacing: 1.5px;
    padding-left: 7px;
    background-color: #767798;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

#heading_menu_button_section
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.3);
}

#heading_menu_button_section button
{
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
    user-select: none;
}

