body
{
    background-image: url("../img/wallpaper_1.jpg");
}

label
{
    padding-left: 2px;
    color: whitesmoke;
}

.property_block
{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.25);
}

.property_block select
{
    height: 100%;
}

.multiple_properties_block
{
    display: block;
    /**background-color: rgba(255, 255, 255, 0.5);*/
}

.property_data_block
{
    margin-top: 5px;
    background-color: rgba(65, 119, 112, .8) !important;
}

.property_data_block:nth-of-type(1)
{
    margin-top: 0;
    /**background-color: rgba(100, 10, 0, .4);*/
}

.property_data_block
{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    width: 500px;
}

.property_controls_block
{
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
    /**background-color: rgba(100, 255, 100, 0.5);*/
}

.property_controls_block button
{
    height: 38px;
    margin-left: 5px;
    margin-right: 5px;
}

.required::after
{
    content: " *";
}

#current_action_info
{
    background-color: white;
}

#current_action_info span
{
    margin-left: 5px;
}

#current_action_info p
{
    margin: 0px 2px;
}

#current_action_info p:nth-child(1)
{
    font-weight: bold;
}


.dangerous_button
{
    background: #a85840;
    color: whitesmoke;
    border: #bf4c29 solid .5px;
}

.dangerous_button:active
{
    background: whitesmoke;
    color: #a85840;
    border: whitesmoke solid .5px;
}

.warning_required_button
{
    background: #cfd23a;
    /**color: #5c5d15;*/
    color: black;
    border: #7f811b solid 0.5px;
}

.back_to_safety_button
{
    background: #219431;
    color: wheat;
    border: #176b23 solid .5px;
}

.warning_text
{
    color: #bf4c29;
}

#properties
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    justify-content: flex-start;
}

#language_mode_controls
{
    margin-left: 0;
}