<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>/WEB-INF/jsp/entrance.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>EncodingSetFilter</filter-name>
        <filter-class>by.musicwaves.controller.filter.EncodingSetFilter</filter-class>
        <init-param>
            <description>encoding parameter</description>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>PageAccessFilter</filter-name>
        <filter-class>by.musicwaves.controller.filter.PageAccessFilter</filter-class>
    </filter>

    <filter>
        <filter-name>AntiInjectionFilter</filter-name>
        <filter-class>by.musicwaves.controller.filter.AntiInjectionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>EncodingSetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>PageAccessFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AntiInjectionFilter</filter-name>
        <url-pattern>/xhr/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AntiInjectionFilter</filter-name>
        <url-pattern>/action/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>UploadableResourcesController</servlet-name>
        <servlet-class>by.musicwaves.controller.servlet.UploadableResourcesController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UploadableResourcesController</servlet-name>
        <url-pattern>/music/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UploadableResourcesController</servlet-name>
        <url-pattern>/artist-images/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UploadableResourcesController</servlet-name>
        <url-pattern>/album-images/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AsyncRequestsController</servlet-name>
        <servlet-class>by.musicwaves.controller.servlet.XHRRequestsController</servlet-class>
        <multipart-config>
            <max-file-size>1073741824</max-file-size>
            <max-request-size>1203741824</max-request-size>
            <file-size-threshold>500000</file-size-threshold>
        </multipart-config>
    </servlet>

    <servlet>
        <servlet-name>DirectRequestsController</servlet-name>
        <servlet-class>by.musicwaves.controller.servlet.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AsyncRequestsController</servlet-name>
        <url-pattern>/xhr/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DirectRequestsController</servlet-name>
        <url-pattern>/action/*</url-pattern>
    </servlet-mapping>

</web-app>
